[user]
	name = Shaun Thomas
	email = shaunthomas999@gmail.com
[credential]
	helper = osxkeychain
	# helper = /usr/local/share/gcm-core/git-credential-manager
	useHttpPath = true
[credential "https://dev.azure.com"]
	useHttpPath = true
[http "https://github.com"]
	proxy =
[http "https://bitbucket.com"]
	proxy =
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[commit]
	gpgSign = false
[pull]
	rebase = true
[push]
	recurseSubmodules = check
[gui]
	pruneduringfetch = true
[core]
	excludesfile = /Users/shaunthomas/.gitignore
	editor = subl -n -w
	autocrlf = input # For Mac and linux. For Windows if mixed OS user, autocrlf = true
[gc]
# true by default. Need to set it to false for Git GUI
	autoDetach = false
[submodule]
	recurse = true
[color]
	ui = true
[smartgit "submodule"]
	fetchalways = false
	update = true
	initializenew = true
